:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

:root,
html {
  --ion-default-font: var(--font-inter) !important;
}

.rounded-footer-shadow {
  -webkit-box-shadow: 0px -10px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px -10px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px -10px 5px 0px rgba(100, 100, 100, 0.75);
}
